<div *ngIf=(isUserLoggedIn)>
    <div style="background-color:white;">
        <article class="panel panel-default">
            <div class="panel-body" >
                <form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                                    <!--<label for="start_time">Start Time</label>-->
                                    <input 
                                        type="text" 
                                        id="start_time" 
                                        placeholder="00:00 AM" 
                                        class="form-control"
                                        [ngModel]="timetableItem?.start_time"
                                        name="start_time"
                                        required>

                                    <!--<label for="end_time">End Time</label>-->
                                    <input 
                                        type="text" 
                                        id="end_time" 
                                        placeholder="00:00 AM" 
                                        class="form-control"
                                        [ngModel]="timetableItem?.end_time"
                                        name="end_time"
                                        required>
        
                                    <!--<label for="description">Description</label>-->
                                    <input 
                                        type="text" 
                                        id="description" 
                                        placeholder="Task Details" 
                                        class="form-control"
                                        [ngModel]="timetableItem?.description"
                                        name="description"
                                        required>
                    </div>
                    <div>
                        <button 
                            class="btn btn-danger" 
                            type="button"
                            (click)="onClear(f)"
                            [disabled]="!f.valid">
                            Clear
                        </button>
                        <button 
                            class="btn btn-primary" 
                            type="submit"
                            [disabled]="!f.valid">
                            Save
                        </button>
                    </div>
                </form>
                </div>
        </article>
    </div>
</div>

