<article class="panel panel-default">
    <div class="panel-body" >
        <div [class]="timetableItem.status" >
                    <p class="col-sm-2" >
                       {{ timetableItem.start_time }}
                    </p>
                    <p class="col-sm-2">
                        {{ timetableItem.end_time }}
                    </p>
                    <p class="col-sm-8">
                        {{ timetableItem.description }}
                    </p>
      </div>
    </div>
    <footer class="panel-footer">
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>