<article class="panel panel-default">
    <div class="panel-body" >
        <div [class]="timetableItem.status" >
                <div class="row" >
                    <div class="col-sm-4 text-success">
                        <strong><em> {{ timetableItem.start_time }} - {{ timetableItem.end_time }} </em></strong>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 lead">
                        {{ timetableItem.description }}
                    </div>
                </div>  
                        
                    <!--<p class="col-sm-2" >
                       {{ timetableItem.start_time }}
                    </p>
                    <p class="col-sm-2">
                        {{ timetableItem.end_time }}
                    </p>
                    <p class="col-sm-8">
                        {{ timetableItem.description }}
                    </p>-->
      </div>
    </div>
    <footer class="panel-footer">
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>